<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/libs/fa/css/all.min.css" />
    <link rel="stylesheet" href="/libs/css/dt.css">
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('user-nav') %>
    <h1 class="text-2xl p-2 bg-white border-b border-gray-800 flex justify-center items-center">
    <%= title %>
    </h1>
    <div class="min-h-screen px-4 md:px-56">

    <% if (successMessage.length) { %>
      <div class="bg-green-500 text-white p-3 rounded-md my-2">
        <%= successMessage %>
      </div>
    <% } %>

    <% if (errorMessage.length) { %>
      <div class="bg-red-500 text-white p-3 rounded-md mb-4">
        <%= errorMessage %>
      </div>
    <% } %>